main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.titulo{
    display: none;
    font-size: 10rem;
    font-family: var(--fonte-secundaria);
}

#container-conteudo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    padding: 100px;
    background: var(--cor-secundaria);
    box-shadow: rgb(0, 0, 0) 0px 22px 70px 4px;
    border-radius: 50px;
}

.container-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.botao {
    text-decoration: none;
    border-radius: 30px;
    padding: 20px 40px;
    color: var(--cor-quarta);
    font-size: var(--tamanho-principal);
    font-family: var(--fonte-principal);
    background: var(--cor-terceira);
    border: none;
    cursor: pointer;
    box-shadow: rgb(175, 175, 175) 0px 0px 35px;
    text-align: center;
    transition: 0.5s;
    width: 100%;
}

.botao:hover{
    box-shadow: rgb(255, 255, 255) 0px 0px 38px;
}







/* inicio do responsivo */
@media only screen and (max-width: 730px) {

}